body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    padding: 30px;
}
h1 {
    text-align: center;
    color: #7d030d;
}
h2 {
    text-align: center;
    color: #100e0e;
}
h3 {
    text-align: left;
    color: #101010;
}
table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;

}
th, td {
    border: 2px solid #0d0d0d;
    padding: 12px 15px;
    text-align: center;
}
th {
    background-color: #6c6d6d;
    color: white;
}
tfoot td {
    font-weight: bold;
    background-color: #ecf0f1;
}