body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #ffffff;
    color: #0b0b0b;
  }

  h1 {
    text-align: left;
    margin-bottom: 40px;
  }

  .faculty {
    background: #d6d4d4;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 20px;
  }


  